.container {
  color: white;
<<<<<<< HEAD
  font-weight: bold;
  font-size: 50px;
=======
  font-size: xxx-large;
>>>>>>> m/master
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  gap: normal;
}

<<<<<<< HEAD
.tittle {
  font-size: 50px;
  font-weight: bold;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
=======
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
>>>>>>> m/master
}

.section {
  flex: 1;
<<<<<<< HEAD
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--primary {
    color: #001011;
    background-color: #98ce00;
  }

  &--secondary {
    color: #001011;
    background-color: #fffffc;
  }

  &--gray {
    background-color: #757780;
  }

  &--cyan {
    background-color: #6ccff6;
  }

  .zone-title {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .data-item {
      list-style: none;
      margin-right: 5px;
    }
  }
}
=======
  margin: 100px;
  border: 1px solid white;
}
>>>>>>> m/master
